<a href="https://colab.research.google.com/github/2303a51765Vivek/AIML-2025/blob/main/lab%20exam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

itentify the top 10 turkish business

In [ ]:
import pandas as pd


data = {
    'startup_name': ['Startup1', 'Startup2', 'Startup3', 'Startup4', 'Startup5',
                     'Startup6', 'Startup7', 'Startup8', 'Startup9', 'Startup10'],
    'funding_amount': [1000000, 5000000, 3000000, 2000000, 1500000,
                       4000000, 2500000, 6000000, 3500000, 4500000]
}
startups_df = pd.DataFrame(data)


top_startups = startups_df.nlargest(10, 'funding_amount')
print(top_startups)

  startup_name  funding_amount
7     Startup8         6000000
1     Startup2         5000000
9    Startup10         4500000
5     Startup6         4000000
8     Startup9         3500000
2     Startup3         3000000
6     Startup7         2500000
3     Startup4         2000000
4     Startup5         1500000
0     Startup1         1000000

Find max and min crowdsourced funding obtained by turkey

In [ ]:
max_funding = startups_df['funding_amount'].max()
min_funding = startups_df['funding_amount'].min()

print(f"Max Crowdsourced Funding: {max_funding}")
print(f"Min Crowdsourced Funding: {min_funding}")

Max Crowdsourced Funding: 6000000
Min Crowdsourced Funding: 1000000

Name the gender which has acquired the most funding for the startups.

In [ ]:
import pandas as pd


data = {
    'startup_name': ['Startup1', 'Startup2', 'Startup3', 'Startup4', 'Startup5',
                     'Startup6', 'Startup7', 'Startup8', 'Startup9', 'Startup10'],
    'funding_amount': [1000000, 5000000, 3000000, 2000000, 1500000,
                       4000000, 2500000, 6000000, 3500000, 4500000]
}
startups_df = pd.DataFrame(data)


startups_df['gender'] = ['Male', 'Female', 'Male', 'Female', 'Male',
                         'Female', 'Male', 'Female', 'Male', 'Female']


gender_funding = startups_df.groupby('gender')['funding_amount'].sum()
top_gender = gender_funding.idxmax()

print(f"The gender that has acquired the most funding is: {top_gender}")

The gender that has acquired the most funding is: Female

identify the top-5 cities where the startup is most.

In [ ]:

startups_df['city'] = startups_df['startup_name'].str.extract('(\d+)').astype(int)

top_cities = startups_df['city'].value_counts().nlargest(5)
print(top_cities)

city
1    1
2    1
3    1
4    1
5    1
Name: count, dtype: int64

Name top 5 technologies popular in turkish startups.

In [ ]:

technologies = ['AI', 'Biotech', 'Fintech', 'E-commerce', 'SaaS',
                'AI', 'Biotech', 'Fintech', 'E-commerce', 'SaaS']

startups_df['technology'] = technologies


top_technologies = startups_df['technology'].value_counts().nlargest(5)
print(top_technologies)

technology
AI            2
Biotech       2
Fintech       2
E-commerce    2
SaaS          2
Name: count, dtype: int64

Apply either Classification or Clustering or Regression Model and evaluate the accuracy, error metrics of the model

In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score


np.random.seed(42)
data = {
    'feature1': np.random.rand(100) * 100,
    'feature2': np.random.rand(100) * 50,
    'funding_amount': np.random.rand(100) * 1000000
}

startups_df = pd.DataFrame(data)


X = startups_df[['feature1', 'feature2']]
y = startups_df['funding_amount']


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)


model = LinearRegression()
model.fit(X_train, y_train)


y_pred = model.predict(X_test)


mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f"Mean Squared Error: {mse}")
print(f"R^2 Score: {r2}")

Mean Squared Error: 113254983231.28801
R^2 Score: -0.2693632318143735